* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  min-height: 100vh;
  width: 100vw;
  background-color: #650d1b;
  display: flex;
}


.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #510c17;
  width: 5%;
  height: 100%;
  left: 0;
}

.nav ul {
  list-style-type: none;
  padding: 0;
}

.nav ul li {
  display: inline;
  margin-right: 20px;
}

.nav ul li a {
  text-decoration: none;
  color: #fff;
}

.nav ul li a div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.nav img {
  width: auto;
  height: 25px;
  filter: invert(100%);
}

.content {
  width: 100%;
  align-items: center;
  justify-items: center;
  gap: 20px;
  overflow-x: hidden;
  padding: 30px;
}

.upperPart {
  display: flex;
  height: 55%;
  width: 80%;
  justify-content: center;
  align-items: center;
  outline: 1px solid red;
}

.leftSide {
  background: linear-gradient(to bottom right, #000000ab, #ffffff00), url('images/homePic.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  border-radius: 30px;
  width: 65%;
  height: 100%;
  color: #fff;
  padding: 25px;
}

#fitna {
  height: 20%;
}

.leftSide p{
  font-weight: 500;
  margin-top: -8px;
}

#homePic {
  height: 76%;
  width: 100%;
  border-radius: 31px;
}

.rightSide {
  height: 100%;
  width: 35%;
}

.todaysPlan {
  background-color: #843D49;
  width: 90%;
  height: 100%;
  justify-self: right;
  border-radius: 30px;
  color: #fff;
  align-content: center;
}

.todaysPlan h1 {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 23px;
}

.plannedWOs {
  height: 90%;
  width: 100%;
  overflow: auto;
  padding-right: 15px;
}

.plannedWOs::-webkit-scrollbar {
  width: 10px;
  border-radius: 15px;
}

.plannedWOs::-webkit-scrollbar-thumb {
  background-color: #650d1c87;
  border-radius: 15px;
}

.middlePart {
  margin-top: 25px;
  width: 80%;
  height: 20%;
  justify-items: center;
    outline: 1px solid red;
}

.weeksActivity {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13px;
  width: 100%;
  height: 100%;
  background-color: #843D49;
  border-radius: 30px;
}

.daysActivity {
  width: 95%;
  height: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.weeksActivity h1 {
  color: #fff;
  font-size: 23px;
}

.dayActivity {
  aspect-ratio: 1/1;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: auto;
  font-weight: 1000;
  font-size: 20px;
}

#inactiveDay{
  background-color: #ffffff00;
  border: solid #fff 2px;
  color: #FCD581;
}

#activeDay{
  color: #fff;
  background-color: #FCD581;
}

.bottomPart {
  display: flex;
  height: 50%;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 50px;
  color: #fff;
  outline: 1px solid red;
}

.scrollableMenu {
  height: 100%;
  width: 100%;
  background-color: #FCD581;
}

.bodyPartImages {
  height: inherit;
  width: 100%;
  background-color: violet;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 20px;
}

.bodyPartImage {
  height: 100%;
  flex-shrink: 0;
  width: 225px;
  border-radius: 20px;
}



#bpi1 {
  background: linear-gradient(#ffffff00, rgb(0, 0, 0)), url(images/arms.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, 100% 100%;
  background-position: left;
}

#bpi2 {
  background: linear-gradient(#ffffff00, rgb(0, 0, 0)), url(images/glutes.jpg);
  background-repeat: no-repeat, no-repeat;
    background-size: cover, 100% 100%;
  background-position: bottom, left;
}

#bpi3 {
  background: linear-gradient(#ffffff00, rgb(0, 0, 0)), url(images/core.jpg);
  background-repeat: no-repeat, no-repeat;
    background-size: cover, 100% 100%;
  background-position: bottom, left;
}

#bpi4 {
  background: linear-gradient(#ffffff00, rgb(0, 0, 0)), url(images/legs.jpg);
  background-repeat: no-repeat, no-repeat;
    background-size: cover, 100% 100%;
  background-position: bottom, left;
}

#bpi5 {
  background: linear-gradient(#ffffff00, rgb(0, 0, 0)), url(images/back.jpg);
  background-repeat: no-repeat, no-repeat;
    background-size: cover, 100% 100%;
  background-position: bottom, left;
}

#bpi6 {
  background: linear-gradient(#000000, #ffffff00), url(images/chest.jpg);
  background-repeat: no-repeat, no-repeat;
    background-size: cover, 100% 100%;
  background-position: bottom, left;
}