* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #742532 60%, #ffffff00), url(../images/indexbg.png);
    background-position: left, bottom right;
    background-repeat: no-repeat, no-repeat;
    background-size: 100%, 85vh;
}

.content {
    position: absolute;
    left: 30%;
    top: 50%;
    translate: -50% -50%;
    width: 500px;
    justify-items: center;
    color: #ffffff;
    font-family: sans-serif;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 14px;
    color: #cecbcb; 
    margin-bottom: 40px;
}

p {
    font-size: 13px;
}

.info .label {
    float: left;
    font-size: 15px;
}

.info input {
    width: 450px;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    background-color: #f4f4f465;
    border: none;
    margin-top: 5px;
}

#email, #password2, #username {
    margin-bottom: 15px;
}

#password1, #confirmP {
    margin-bottom: 30px;
}

.button {
    width: 460px;
    padding: 12px;
    border-radius: 25px;
    background-color: #fcd581;
    font-size: 21px;
    color: #650d1b;
    border: none;
    margin-bottom: 5px;
}

a {
    color: #fcd581;
    text-decoration: underline;
}

img {
    height: 17%;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.success-message {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: 0% -50%;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    z-index: 1000;
    padding: 15px;
    border-radius: 5px;
    margin: 15px auto;
    width: 90%;
    height: 40%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 500;
}

.error-message {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: 0% -50%;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    z-index: 1000;
    padding: 15px;
    border-radius: 5px;
    margin: 15px auto;
    width: 90%;
    height: 40%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 500;
}